
body {
  border-left: 5px solid gray;
  min-height: 100vh;
  font-family: sans-serif;
  max-width: 1000px;
  padding: 1rem 2rem;
  background-color: white;
  color: black;
}

footer {
  padding: 1rem 2rem;
  color: tomato;
}

footer a {
  color: tomato;
}

footer h3 {
  color: gray;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

article p::first-letter {
  color: gray;
  font-size: 5rem;
}